h1{
    font-family:'Courier New', Courier, monospace;
    color: red
}

img{
    width: 50%;
    max-width: 200px; /* Set a maximum width for responsiveness */
    height: 200px; /* Maintain aspect ratio */
    border: 2px solid black; /* Add a border */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */

  }

 .wrapper{
    display: inline-block;
    text-align: center;
 }