<div class="wrapper">
    {%assign age = 24  %}
    {%assign string = "Hello world" %}
    
    {{age}}

    {% comment %} {%if age > 20 %}
       <p>you can view</p> 
        {% elseif  age > 17 %}
            <p>you can view</h1> </p>
        {%else%}
             <p> you can not view </p> 
    {%endif%} {% endcomment %}

</div>

