<div class="wrapper">
    {% comment %} {%assign age = 24  %}
    {%assign string = "Hello world" %}

   
       <h1>you can view</h1> 
        {%elseif > 17%}
            you can view
        {%else%}
              you can not view
            {%endif%} {% endcomment %}
            
            {{hello}}

</div>

