<div class="wrapper">
 {% liquid   
    assign age = 33
    assign sex = 'male'
    assign name = 'John'
    assign name2 = 'John'
    assign favorite_color = 'blue' 
    if favorite_color == 'blue'
        assign name = 'SRK'
        else 
        
    endif
%}

</div>

