<div class="wrapper">
    {%assign age = 24  %}
    {%assign string = "Hello world" %}
    
    {{age}}

    {%if age > 20 and string == "Hello world" %}
       <p>you can view</p> 
        <p> you can not view </p> 
    {%endif%}

</div>

