<div class="wrapper">
    {%assign age = 24  %}
    {%assign string = "Hello world" %}

    {{age}}

    {% comment %} {%if age > 20%}
       <h1>you can view</h1> 
        {%elseif > 17%}
            you can view
        {%else%}
              you can not view
            {%endif%} {% endcomment %}

</div>

