<div class="wrapper">
    {{ 'style.css' | asset_url | stylesheet_tag }}
{% for collection in collections %}
    <h1>{{ collection.title }}</h1>
    {% unless collection.description == blank %} 
        <p>{{   collection.description}}</p>
    {% endunless %}

    {% for product in collection.products %}
        {% else %}
            <p>There is no product in {{collection.title}}</p>
        {% endfor %}

{% endfor %}
</div>

